@charset "UTF-8";
body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color:darkgoldenrod;       background-color: lightblue;
}
h2 {
    color: blue;
}
p {
            text-align: justify;
}