@charset "UTF-8";

/*Configuração para tablet*/

@media screen and (min-width:768px) and (max-width:992px) {
    #menu {
        display: none;
    }

    .container {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        flex: auto;
    }

    ul {
        display: flex;
        margin-top: 10px;
        margin-right: 10px;
        align-content: center;
    }

    header h1 {
        margin-left: 12px;
        text-align: initial;
    }

    nav > ul > li {
        margin: 2px;
    }
}
@media screen and (min-width:992px) {
    #menu {
        display: none;
    }

    .container {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        flex: auto;
    }

    header h1 {
        margin-left: 12px;
        text-align: initial;
    }


    ul {
        margin-top: 10px;
        display: flex;
        margin-right: 12px;
        align-content: center;
    }


    nav > ul > li {
        margin: 2px;
    }
}